<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 6</title>
</head>

<body>
    <h1>Quote Finder</h1>

    <nav> <a href="home.ejs">Home</a> </nav>

    <form action="/searchByKeyword" method="GET">
        Keyword: <input type="text" name="keyword">
        <button> Search by Keyword </button>
    </form>

    <form action="/searchByAuthor" method="GET">
        Author:
        <select name="authorId">
            <% for (let i of authors) { %>
                <option value="<%= i.authorId%>">
                    <%= i.firstName%> <%= i.lastName%>
                </option>
            <% } %>
        </select>
        <button> Search by Keyword </button>
    </form>

</body>

</html>